
<app-header titulo="Registro"></app-header>

<ion-content> 

<ion-card>
        <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
        <ion-card-subtitle> Ingrese sus datos para registrarse </ion-card-subtitle>
        
        </ion-card-header>  

        <ion-card-content>

            <ion-item>
                    <ion-label position="floating">Nombre </ion-label>
                
                    <ion-input type="text" name="nombre" [(ngModel)]="registro_de_usuario.nombre"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">RUN </ion-label>
            
                <ion-input type="text" name="run" [(ngModel)]=" registro_de_usuario.run"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Correo </ion-label>
            
                <ion-input type="text" name="correo"[(ngModel)]=" registro_de_usuario.correo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Clave</ion-label>
            
                <ion-input type="text" name="clave" [(ngModel)]=" registro_de_usuario.clave"></ion-input>
            </ion-item>         
            <ion-button (click)="datos() " >REGISTRARSE</ion-button>

        </ion-card-content>


</ion-card>

</ion-content>
